Repository NoorChasib/Fullstack-Template, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Backend, Frontend, E2E, Docker

create dependaboy yaml
  .github/dependabot.yaml
  .github/workflows/dependencyCheck - Backend.yaml
  .github/workflows/dependencyCheck - Frontend.yaml
  README.md
Labels: Github Actions

Update .env.template
  .env.template
Labels: none

add build commands
  package.json
Labels: none

add npm dependency report
  .github/config/dep-report.json5
  .github/helpers/create-npm-dep-report-issues.js
  .github/helpers/create-npm-dep-report.js
  .github/helpers/github-api/create-and-close-existing-issue.js
  .github/helpers/github-api/github-api-requests.js
  .github/helpers/parse-json5-config.js
  .github/helpers/parse-npm-deps.js
  .github/workflows/auto-assign.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

Delete dependabot.yaml
  .github/dependabot.yaml
Labels: Github Actions

update prettier settings
  src/backend/.prettierrc
  src/frontend/.prettierrc
Labels: Backend, Frontend

Update main.ts
  src/backend/src/main.ts
Labels: Backend

Update npm-dep-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

Update npm-dep-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

update frontend dependencies
  src/backend/.npmrc
  src/frontend/.npmrc
  src/frontend/package.json
Labels: Backend, Frontend

update backend dependencies
  src/backend/package.json
Labels: Backend

Update .env.template
  .env.template
Labels: none

Update main.ts
  src/backend/src/main.ts
Labels: Backend

remove cors
  src/backend/package.json
Labels: Backend

Update create-npm-dep-report.js
  .github/helpers/create-npm-dep-report.js
Labels: Github Actions

Update npm-dep-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

Update package.json
  package.json
Labels: none

Update npm-dep-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

Create deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update .env.template
  .env.template
Labels: none

remove db from backend
  src/backend/db/pgadmin/servers.json.template
  src/backend/db/schema/schema.sql
Labels: Backend

create db folder
  src/db/pgadmin/servers.json.template
  src/db/schema/schema.sql
Labels: none

update dockerfiles
  src/backend/.docker/Dockerfile.dev
  src/backend/.docker/Dockerfile.prod
  src/db/.docker/Dockerfile.dev
  src/db/.docker/Dockerfile.prod
  src/frontend/.docker/Dockerfile.dev
Labels: Backend, Frontend, Docker

update docker compose
  compose.dev.yaml
  compose.prod.yaml
Labels: none

Update deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update compose.dev.yaml
  compose.dev.yaml
Labels: none

Update connectDatabase.ts
  src/backend/src/database/connectDatabase.ts
Labels: Backend

update to make compose envs explicit
  compose.dev.yaml
  compose.prod.yaml
Labels: none

Create vps-prod-compose.yaml
  .github/vps-prod-compose.yaml
Labels: Github Actions

Update deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update deploy-dev-frontend.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Create deploy-dev-backend.yaml
  .github/workflows/deploy-dev-backend.yaml
Labels: Github Actions

Update deploy-dev-backend.yaml
  .github/workflows/deploy-dev-backend.yaml
Labels: Github Actions

Create deploy-dev-db.yaml
  .github/workflows/deploy-dev-db.yaml
Labels: Github Actions

update names for workflows
  .github/workflows/deploy-dev-backend.yaml
  .github/workflows/deploy-dev-db.yaml
  .github/workflows/deploy-dev-frontend.yaml
  .github/workflows/util-auto-assign.yaml
  .github/workflows/util-npm-dep-report.yaml
  .github/workflows/util-pr-labeller.yaml
Labels: Github Actions

update deployment workflows
  .github/vps-prod-compose.yaml
  .github/workflows/deploy-dev-backend.yaml
  .github/workflows/deploy-dev-db.yaml
  .github/workflows/deploy-dev-frontend.yaml
Labels: Github Actions

Update compose.prod.yaml
  compose.prod.yaml
Labels: none

Update deploy-dev-db.yaml
  .github/workflows/deploy-dev-db.yaml
Labels: Github Actions

.github/labeler.yaml:

# Config file for labeler

# Changes to the following directories will trigger the labeler

"Github Actions":
  - .github/**

"Backend":
  - src/backend/**

"Frontend":
  - src/frontend/**

"E2E":
  - src/e2e/**

"Docker":
  - "**/Dockerfile*"
  - docker-compose.*.yml
