Repository NoorChasib/Fullstack-Template, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Backend, Frontend, E2E

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Backend':
  - src/backend/**/*

'Frontend':
  - src/frontend/**/*

'E2E':
  - src/e2e/**/*

add codeowners
  .github/CODEOWNERS
  .github/auto-action-config.yaml
Labels: none

Create auto-assign.yaml
  .github/workflows/auto-assign.yaml
Labels: Github Actions

Update dependencyCheck - Backend.yaml
  .github/workflows/dependencyCheck - Backend.yaml
Labels: Github Actions

Update dependencyCheck - Frontend.yaml
  .github/workflows/dependencyCheck - Frontend.yaml
Labels: Github Actions

update dependency checks
  .github/workflows/dependencyCheck - Backend.yaml
  .github/workflows/dependencyCheck - Frontend.yaml
Labels: Github Actions

update dependencies
  src/backend/.eslintrc.cjs
  src/backend/package.json
  src/frontend/package.json
Labels: Backend, Frontend

Update package.json
  package.json
Labels: none

fix for prod caddy config
  .env.template
  compose.dev.yaml
  compose.prod.yaml
  dev.Caddyfile
  prod.Caddyfile
  src/backend/.docker/Dockerfile.prod
  src/backend/src/main.ts
Labels: Backend

update scripts
  src/backend/.docker/Dockerfile.dev
  src/backend/.docker/Dockerfile.prod
  src/frontend/.docker/Dockerfile.dev
  src/frontend/.docker/Dockerfile.prod
Labels: Backend, Frontend

update caddyfile
  dev.Caddyfile
  prod.Caddyfile
Labels: none

add railway config
  src/frontend/Caddyfile
  src/frontend/nixpacks.toml
Labels: Frontend

Update Caddyfile
  src/frontend/Caddyfile
Labels: Frontend

update ports
  src/backend/src/main.ts
  src/frontend/vite.config.ts
Labels: Backend, Frontend

update to check for time
  src/backend/src/main.ts
  src/frontend/nixpacks.toml
Labels: Backend, Frontend

remove docker prod files
  compose.prod.yaml
  prod.Caddyfile
  src/backend/.docker/Dockerfile.prod
  src/frontend/.docker/Dockerfile.prod
Labels: Backend, Frontend

Update main.ts
  src/backend/src/main.ts
Labels: Backend

change port name
  src/backend/.env.template
  src/frontend/.env.template
Labels: Backend, Frontend

update ports
  src/backend/.env.template
  src/backend/src/main.ts
  src/frontend/.env.template
  src/frontend/vite.config.ts
Labels: Backend, Frontend

Create railway-deploy.yaml
  .github/workflows/railway-deploy.yaml
Labels: Github Actions

railway workflows
  .github/workflows/railway-deploy-backend.yaml
  .github/workflows/railway-deploy-frontend.yaml
Labels: Github Actions

update caddy configs
  .env.template
  compose.dev.yaml
  dev.Caddyfile
  prod.Caddyfile
Labels: none

Update compose.dev.yaml
  compose.dev.yaml
Labels: none

Update .env.template
  .env.template
Labels: none

move caddy files
  prod.Caddyfile
  src/frontend/.caddy/dev.Caddyfile
  src/frontend/.caddy/prod.Caddyfile
Labels: Frontend

remove dotenv
  src/backend/package.json
  src/frontend/package.json
Labels: Backend, Frontend

dockerfiles and add multistage builds
  src/backend/.docker/Dockerfile.dev
  src/backend/.docker/Dockerfile.prod
  src/frontend/.docker/Dockerfile.dev
  src/frontend/.docker/Dockerfile.prod
Labels: Backend, Frontend

remove dotenv
  src/backend/src/database/connectDatabase.ts
  src/backend/src/main.ts
  src/frontend/vite.config.ts
Labels: Backend, Frontend

change template
  src/backend/.env.template
  src/frontend/.env.template
Labels: Backend, Frontend

Update compose.dev.yaml
  compose.dev.yaml
Labels: none

Update compose.prod.yaml
  compose.prod.yaml
Labels: none

Update dev.Caddyfile
  src/frontend/.caddy/dev.Caddyfile
Labels: Frontend

Update prod.Caddyfile
  src/frontend/.caddy/prod.Caddyfile
Labels: Frontend

Update compose.prod.yaml
  compose.prod.yaml
Labels: none

Update Dockerfile.prod
  src/frontend/.docker/Dockerfile.prod
Labels: Frontend

Update .npmrc
  .npmrc
Labels: none

Update Dockerfile.prod
  src/frontend/.docker/Dockerfile.prod
Labels: Frontend
